[{:itonami.blueprint/social-impact [:public-transport-access :local-jobs], :itonami.blueprint/domain :services/passenger-transport, :itonami.blueprint/required-technologies [:robotics :telemetry :audit-ledger], :itonami.blueprint/isco-08 "8331", :itonami.blueprint/name "Independent Passenger Transport Practice", :itonami.blueprint/governor :passenger-transport-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-8331", :itonami.blueprint/license "AGPL-3.0-or-later"}]